extends layout

block content
  h1= title
  p Welcome to #{title}  
  h3 welcome to #{breadcrumb}
  form(action="/" , method="POST")
    input(type="email", placeholder="Enter your Email")
    button(type="submit") Submit